@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown-element p {
        margin-bottom: 1rem;
}

@layer base {
        @font-face {
                font-family: LoRes;
                src: url("./lib/fonts/LoRes12OT-Regular.ttf");
        }

        @font-face {
                font-family: Microgramma;
                src: url("./lib/fonts/Microgramma.otf");
        }
}